@model List<Gauniv.WebServer.Data.Game>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "Accueil";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<h1>Accueil</h1>

<p>
    <a class="btn btn-primary" asp-controller="Games" asp-action="Index">Liste des jeux</a>
    <a class="btn btn-primary" asp-controller="Category" asp-action="Index">Liste des catégories</a>
    @if (User.Identity?.IsAuthenticated == true && User.IsInRole("User"))
    {
        <a class="btn btn-primary" asp-controller="MyGames" asp-action="Index">Mes jeux</a>
    }
    <a class="btn btn-primary" asp-controller="Games" asp-action="GamesStats">Statistiques</a>

</p>

